<header>
    <a class="logo-link" href="../../index.html">
        <img class="header-icon" src="../../assets/images/benchmarking-icon.png" alt="Logo">
        <span>Database Benchmarking</span>
    </a>
    <span class="links-section">
        <a class="github-link" href="../../index.html" target="_blank">
            <img class="header-icon" src="../../assets/images/github-text-icon.png" alt="Github text">
            <img class="header-icon" src="../../assets/images/github-icon.png" alt="Github">
        </a>
        <a class="email-link" href="mailto:pexet.pc@gmail.com">
          <button mat-icon-button>
            <mat-icon class="white-icon">mail</mat-icon>
          </button>
          <span class="header-text">Contact: pexet.pc&commat;gmail.com</span>
        </a>
    </span>
</header>
